:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

#app {
  height: 100vh;
  display: grid;
  place-content: center;
}

#canvas1 {
  border: 4px solid #242424;
  background-color: #4d79bc;
  max-width: 100%;
  max-height: 100%;
}